.admin-container {
    display: flex;
    flex-direction: row; /* Maintain horizontal alignment */
    height: 100vh;
}

.sidebar {
    background-color: #6a1b9a;
    color: white;
    padding: 20px;
    width: 250px; /* Default width */
    transition: width 0.1s, left 0.1s; /* Smooth transition for width and position */
    position: fixed; /* Keep sidebar fixed */
    height: 100%;
    z-index: 2; /* Ensure sidebar is above the top-bar when open */
}

.sidebar.closed {
    width: 0; /* Sidebar completely collapses */
    padding: 20px 0;
    overflow: hidden;
}


.sidebar h1{
    margin: 10px 0 10px 0 ;
}

.sidebar button {
    display: flex;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    color: white;
    text-align: left;
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 16px;
    transition: background 0.3s;
    height: 55px; /* Increase the height of each button */
}

.sidebar button img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.sidebar button:hover {
    background-color: #5a148a; /* Slightly darker shade on hover */
}

.top-bar {
    background-color: #fdd835;
    color: black;
    padding: 20px 20px;
    width: calc(100% - 270px); /* Adjust width based on sidebar state */
    display: flex;
    align-items: center;
    position: fixed; /* Fixed position */
    top: 0; /* Align to the top */
    left: 270px; /* Adjust based on sidebar state */
    transition: left 0.3s; /* Smooth transition for left position */
    z-index: 1; /* Below the sidebar */
}

.top-bar.closed {
    left: 0; /* Move left when sidebar is closed */
    width: 100%; /* Full width when sidebar is closed */
}

.top-bar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.top-bar .closebar {
    margin-left: 10px;
}

.top-bar .right {
    margin-left: auto;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    margin-top: 70px; /* Space for top-bar */
    transition: margin-left 0.3s; /* Smooth transition for margin changes */
    margin-left: 270px; /* Adjust based on sidebar state */
}