.admin-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.admin-sidebar {
    background-color: #6a1b9a;
    color: white;
    padding: 20px;
    width: 250px;
    transition: width 0.1s, left 0.1s;
    position: fixed;
    height: 100%;
    z-index: 2;
}

.admin-sidebar.closed {
    width: 0;
    padding: 20px 0;
    overflow: hidden;
}

.admin-sidebar h1 {
    margin: 10px 0 10px 0;
}

.admin-sidebar button {
    display: flex;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    color: white;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    height: 55px;
}

.admin-sidebar button img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.admin-sidebar button:hover {
    background-color: #5a148a;
}

.admin-top-bar {
    background-color: #fdd835;
    color: black;
    padding: 20px 20px;
    width: calc(100% - 270px);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 270px;
    transition: left 0.3s;
    z-index: 1;
}

.admin-top-bar.closed {
    left: 0;
    width: 100%;
}

.admin-top-bar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.admin-closebar {
    margin-left: 10px;
}

.admin-right-button {
    margin-left: auto;
}

.admin-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    margin-top: 70px;
    transition: margin-left 0.3s;
    margin-left: 270px;
}