.QR-code-check-in {
  position: relative;
  min-height: 100vh;
  width: 100%;
}
body,
#root {
  min-height: 100vh;
}
.QR-code-check-in .div {
  background-color: #ffffff;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.QR-code-check-in .overlap-group {
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
  object-fit: cover;
}

.QR-code-check-in .image {
  height: 64px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 60px;
}

.QR-code-check-in .overlap {
  background-color: #f2f2f273;
  opacity: 60%;
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 9px;
  height: 70px;
  left: 438px;
  position: absolute;
  top: 300px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QR-code-check-in .text-wrapper {
  color: #000000;

  font-family: "Inter", Helvetica;
  font-size: 60px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -2px;
  width: 516px;
}

.QR-code-check-in .div-wrapper {
  background-color: #f2f2f273;
  border: 1px solid;
  border-color: #cecece;
  border-radius: 9px;
  height: 70px;
  right: 440px;
  position: absolute;
  top: 535px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QR-code-check-in .text-wrapper-2 {
  color: #fcfcfcc9;

  font-family: "Inter", Helvetica;
  font-size: 65px;
  font-weight: 400;
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  margin-top: -5px;
  width: 300px;
}
.QR-code-check-in .text-wrapper-3 {
  font-family: "Inter", Helvetica;
  font-size: 105px;
  font-weight: 400;
  left: 355px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 167px;
}
.QR-code-check-in .text-wrapper-4 {
  color: #fcfcfcc9;

  font-family: "Inter", Helvetica;
  font-size: 105px;
  font-weight: 400;
  right: 455px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 400px;
}

.QR-code-check-in.rectangle {
  background-color: #f6f6f66e;
  height: 490px;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 379px;
}
.background-container {
  background-image: url("../img/homepage-banner-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.white-overlay-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Adjust this value to change the width of the white area */
  height: 100%;
  background-color: #f7f7f7;
  opacity: 20%;
  z-index: -1;
}
.QR-code-check-in .overlap,
.QR-code-check-in .div-wrapper {
  transition: transform 0.3s ease;
}

.QR-code-check-in .overlap:hover,
.QR-code-check-in .div-wrapper:hover {
  transform: scale(1.05);
  cursor: pointer;
}
