.calendar-container {
  position: relative;
  z-index: 10;
  align-self: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: flex; /* Use flexbox to align children inline */
  align-items: flex-start; /* Align items vertically in the center */
  justify-content: space-between; /* Space out the button and the date */
  flex-direction: column; /* Stack children vertically */
}

.calendar-text {
  margin-left: 6px;
  margin-top: 8px;
}

.date-calendar-overlay {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 20;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table wrapper styling */
.table-wrapper {
  overflow-x: auto;
  max-width: 65vw;
  overflow-y: scroll;
  max-height: 55vh;
}

.calendar-row {
  display: flex;
  justify-content: space-between; /* Space out the button and the date */
  width: 100%;
  margin-left: 15px; /* Ensure it takes full width */
}

.to-map {
  align-self: flex-start; /* Align to the left */
  width: 100%;
  margin-top: 3px;
  margin-left: 15px; /* Take full width to maintain alignment */
}

table {
  border-collapse: collapse;
  /* width: max-content; */
  min-width: 100%;
}

#mytable td {
  border: 1px solid black;
  text-align: center;
  position: relative;
  text-align: center;
  vertical-align: middle;
  height: 60px !important;
}

#mytable th {
  background-color: #d3a6d4;
  color: black;
  height: 50px;
}

.box {
  width: 98%;
  height: 98%;
  border-radius: 15px;
}

td.reserved .box {
  background-color: rgb(204, 202, 200);
  cursor: not-allowed;
}

td.selfreserved .box {
  background-color: rgb(245, 238, 175);
  cursor: not-allowed;
}

td.requested .box {
  background-color: rgb(203, 237, 205);
  cursor: not-allowed;
}

td.signedin .box {
  background-color: rgb(200, 232, 249);
  cursor: not-allowed;
}

td.disabled {
  background-color: rgb(231, 231, 231);
  cursor: not-allowed;
}

td.no-permission .box {
  background-color: rgb(230, 212, 231);
}

td.no-permission {
  cursor: pointer;
}

td.permission {
  background-color: white;
  cursor: pointer;
}

#mytable thead tr th:first-child,
#mytable tbody tr td.room-column {
  background-color: rgb(249, 249, 249) !important;
  position: sticky;
  left: 0;
  z-index: 5;
}

.time-column {
  min-width: 60px;
  max-width: 60px;
}

.room-column {
  min-width: 80px;
  max-width: 80px;
  max-height: 100px;
  min-height: 100px;
  /* width: max-content; */
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.button-class {
  display: flex;
  justify-content: space-between;
}

.table-wrapper::-webkit-scrollbar {
  height: 12px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #888;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.legendbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
}

.legend-text {
  font-size: 14px;
}

.room-info {
  top: 0;
  position: absolute;
  left: 100%;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  z-index: 1500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  white-space: nowrap; /* Ensure the text does not wrap */
}

.table-container {
  /* Centering the table */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.calendar-container {
  /* Adjusting calendar position */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.calendar-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align children to the start of the flex container */
  margin-bottom: 10px;
}

.calendar-row {
  display: flex;
  justify-content: space-between; /* Space out the button and the date */
  width: 100%;
  margin-left: 15px; /* Ensure it takes full width */
}

.to-map {
  align-self: flex-start; /* Align to the left */
  width: 100%;
  margin-top: 3px;
  margin-left: 15px; /* Take full width to maintain alignment */
}

#mytable {
  width: 100%;
  border-collapse: collapse;
}

#mytable th,
#mytable td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
}

.legend-item {
  /* Individual legend items */
  display: flex;
  align-items: center;
}

.legend-color {
  /* Color boxes in the legend */
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#mytable thead th {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background-color: rgb(208, 181, 228);
  z-index: 1; /* Ensure the header stays above other content */
}

.singletable-wrapper {
  overflow-x: scroll;
  max-width: 780px;
}

td.reserved .requested .selfreserved {
  cursor: not-allowed;
}

td.reserved .requested .selfreserved:hover {
  cursor: not-allowed;
}

.table-content {
  max-height: 70vh;
}

.select-window {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 20px;
}

#mytable .select-space {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10 !important;
}
