.to-map-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensure it stays on top of other elements */
  }
  
  .to-map-link {
    background-color: #4b2e83; /* Change this to your desired background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding for the link */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline from the link */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Font weight */
    transition: background-color 0.3s; /* Smooth transition for background color */
  }
  
  .to-map-link:hover {
    background-color: #3a2368; /* Background color on hover */
  }
  