.admin-User h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}
.search {
  display: flex;
  flex-direction: column;
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.search h2 {
  color: #4e5969;
  margin-bottom: 5px;
  font-size: 25px;
}

.user-input-group {
  margin: 0px 100px 0px 0px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

.user-input-group input {
  /* width: 300px; */
  height: 30px;
  flex-grow: 1;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 15px;
  /* width: 500px; */
  /* margin: 0 20px 0; */
}

.user-input-group .search-button {
  background: none;
  border: none;
  padding: 5px 10px;
  margin-right: 15px;
  cursor: pointer;
  width: 35px;
}

.user-input-group .search-button img {
  width: 28px;
  height: 28px;
}

.user-table {
  margin: 25px 35px 25px 30px;
}

.admin-page .arco-table td {
  background-color: #f7f8fa !important;
}

.admin-page .arco-table td:hover {
  background-color: #e5e6eb !important;
}

.admin-page .arco-table thead th {
  background-color: #e5e6eb !important;
}
