.button-container {
    display: flex;
    justify-content: space-around; /* 保持按钮之间均匀分布 */
    margin: 10px 40px; /* 上下保持10px, 左右保持40px的边距 */
}

.button-style {
    min-width: 150px;
    height: 500px; /* 增加按钮的高度 */
    color: #fff;
    font-size: 25px;
    margin: 0 20px; /* 每个按钮左右间隔20px */
}