.home-content h1 {
    margin: 20px 0 40px 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: space-around; /* 保持按钮之间均匀分布 */
    margin: 20px 40px; /* 上下保持20px, 左右保持40px的边距 */
}

.button-style {
    min-width: 180px;
    height: 65px; /* 增加按钮的高度 */
    color: #fff;
    font-size: 18px;
    margin: 0 15px; /* 每个按钮左右间隔10px */
    border-radius: 8px; /* 圆角按钮 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影 */
    transition: transform 0.2s; /* 添加过渡效果 */
}

.button-style:hover {
    transform: translateY(-5px); /* 悬停时上移 */
}

.recent-appointment {
    margin: 25px 35px; /* 设置表格的外边距 */
}

.admin-page .arco-table td {
    background-color: #F7F8FA !important;  
}

.admin-page .arco-table td:hover {
    background-color: #E5E6EB !important;  
}

.admin-page .arco-table thead th {
    background-color: #E5E6EB !important;  /* 修改表头的背景颜色 */
}

.user-table {
    margin: 15px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.arco-table {
    border: 1px solid #ddd; /* 添加表格边框 */
    border-radius: 8px; /* 圆角表格 */
    overflow: hidden; /* 隐藏溢出内容 */
}

.arco-table thead th {
    background-color: #f5f5f5; /* 修改表头背景颜色 */
    font-weight: bold; /* 加粗表头文字 */
}

.arco-table tbody tr:hover {
    background-color: #f9f9f9; /* 悬停时修改行背景颜色 */
}