.search {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.search_1 {
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items vertically in the center */
}

.search label {
    display: inline-block; /* Ensure label is inline-block */
    font-size: 18px;
    margin-right: 10px; /* Add margin to separate label from select */
     /* Align label vertically with select */
}

select {
    width: 200px;
    display: inline-block; /* Ensure select is also inline-block */
    font-size: 16px; /* Adjust font size if necessary */
    padding: 4px; /* Adjust padding to make the select smaller */
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle; /* Align select vertically */
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px; /* Add margin-top for spacing between rows */
}

.input-group input {
    flex-grow: 1;
    padding: 8px;
    border: none;
    outline: none;
    width: 500px;
    /* margin: 0 20px 0; */
}

.input-group .search-button {
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 30px;
}

.input-group .search-button img {
    width: 24px;
    height: 24px;
}

.class-table{
    margin: 25px 25px 25px 25px;
}



/* adminClassroom.css */
div.admin-page .arco-table {
    --table-bg: #F7F8FA; /* 修改表格背景颜色 */
    --table-header-bg: #E5E6EB; /* 修改表头背景颜色 */
}

/* div.admin-page .arco-table table {
    background-color: var(--table-bg) !important;
}

div.admin-page .arco-table thead {
    background-color: var(--table-header-bg) !important;
} */

.admin-page .arco-table td {
    background-color: #F7F8FA !important;  
}

.admin-page .arco-table td:hover {
    background-color: #E5E6EB !important;  
}
/* adminClassroom.css */
.admin-page .arco-table thead th {
    background-color: #E5E6EB !important;  /* 修改表头的背景颜色 */
}
/* adminClassroom.css */
.admin-page .arco-table .table-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px 5px; /* 调整按钮大小 */
    display: inline-block;
}

/* 确保按钮在 hover 时不显示黄色背景 */
.admin-page .arco-table td .table-button:hover {
    background-color: transparent !important;
}
.admin-page .arco-table .table-button img {
    width: 20px; /* 减小图片的宽度 */
    height: 20px; /* 减小图片的高度 */
}