.appointment-pickDate {
    margin: 15px 0 10px 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4E5969;
}

.appointment-pickDate label {
    margin-bottom: 5px;
    font-size: 22px;
}
/* 
table */
.class-table {
    margin: 25px 35px 25px 35px;
}

.admin-page .arco-table td {
    background-color: #F7F8FA !important;  
}

.admin-page .arco-table td:hover {
    background-color: #E5E6EB !important;  
}

.admin-page .arco-table thead th {
    background-color: #E5E6EB !important;  /* 修改表头的背景颜色 */
}

/* .admin-page .arco-table .table-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px 5px; 
    display: inline-block;
} */

/* .admin-page .arco-table td .table-button:hover {
    background-color: transparent !important;
} */