.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.table-wrapper {
  overflow-x: scroll;
  max-width: 800px;
}

table {
  border-collapse: collapse;
  width: max-content;
  min-width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #d3a6d4;
  color: white;
}

td.reserved {
  background-color: #ffcc66;
}

td:not(.reserved):hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

thead tr th:first-child,
tbody tr td.room-column {
  background-color: #f2f2f2;
  position: sticky;
  left: 0;
  z-index: 1;
}

.time-column {
  min-width: 100px;
  max-width: 100px;
}