.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.table-wrapper {
  overflow-x: scroll;
  max-width: 780px;
}

table {
  border-collapse: collapse;
  width: max-content;
  min-width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #d3a6d4;
  color: black;
}

td.reserved {
  background-color: #b9b9b9;
}

td.selfreserved {
  background-color: blue;
  color: white;
}

td:not(.reserved):not(.selfreserved) {
  background-color: #fce8a3;
}
td:not(.reserved):not(.selfreserved):hover {
  background-color: #fac833;
  cursor: pointer;
}

thead tr th:first-child,
tbody tr td.room-column {
  background-color: white;
  position: sticky;
  left: 0;
  z-index: 1;
}

.time-column {
  min-width: 50px;
  max-width: 50px;
}

.room-column {
  min-width: 50px;
  max-width: 50px;
}

.select-window {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.button-class {
  display: flex;
  justify-content: space-between;
}